.body{
    background-color: lightyellow;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.body .header{
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 35px;
   
}
.para{
    color: ;
}
.button{
    background-color: red;
    
}
a {
    color: white;
    font-weight: bold;
}
.list .title,
.list .body,
.list .button{
    text-align: left;
}
